body{
    height: 100vh;
}
header{
    border: 3px solid rgb(180, 83, 9);
}
main{
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: center;
    align-items: center;
}
#bgimg{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8),  rgba(0, 0, 0, 0.8)), url(../images/bgimg.jpeg);
    background-position: center;
    background-size: cover;
    height: 89%;
    margin: 0px 5px;
}
.txt{
    color: rgb(180,83,9);
    font-size:x-large;
}
h2{
    text-align: center;
    margin-bottom: 10px;
    margin: 0px 0px;
}
a{
    text-decoration: none;
}
.btn{
    margin-top: 35px;
    height: auto;
    width: 10rem;
}
.modinput{
    width: 100%;
}
.modbtn{
    width: 100%;
    background-color: rgb(180, 83, 9);
    color: #ffc457;
}
.modbtn:hover{
    background-color: #ffc457;
    color: rgb(180, 83, 9);
}



@media only screen and (min-width: 1000px) {
    .direct{
      height:300px
    }
    .search-form{
        height: 300px;
        border: 3px solid rgb(180,83,9);
    }
    #searchBtn{
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        height: 20%;
  }
}